* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicar un fondo azul al cuerpo del documento */
body {
    background-color: #007BFF; /* Mismo color que el texto del h1 */
    font-family: Arial, sans-serif;
    color: white; /* Texto en blanco para resaltar en el fondo azul */
}

/* Estilo para el encabezado */
header {
    background: url("Fotosdeproductos/logotipocamion.jpg") center/cover no-repeat;
    text-align: center;
    padding: 2em 0; /* Aumentamos el padding para dar más espacio al encabezado */
    position: relative;
}

/* Agregar opacidad al fondo */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Ajusta la opacidad y el color según sea necesario */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

/* Estilo para el nombre de la empresa en el encabezado */
header .logo h1 {
    margin: 20px 0;
    padding: 0;
    font-size: 59px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9); /* Sombreado oscuro para un efecto 3D */
    color: #007BFF; /* Cambia el color del texto a un azul llamativo */
    margin-bottom: 0.5em; /* Agregar margen inferior para separar el título del párrafo */
}



/* Estilo para la navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #220; /* Color de fondo oscuro para la navegación */
    padding: 1em 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
}
nav a[href="#footer"] {
    color: white; /* Cambia el color del enlace de Contacto */
}

/* Modificaciones para la sección de productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    position: relative;
    background-color: rgba(0, 123, 255, 0.3); /* Para alinear el contenido de navegación */
}

.producto {
    background-color: #444;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    flex-basis: calc(50% - 2em); /* Mostrar 2 productos por fila en pantallas grandes */
    max-width: calc(50% - 2em);
    margin: 1em;
    background-color: rgba(40, 40, 40, 0.8); /* Fondo gris oscuro con transparencia */
}

.producto.visible {
    opacity: 1;
    
}

.producto.hover {
    transform: scale(1.05);
    z-index: 1;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
@media (min-width: 768px) {
    .producto {
        flex-basis: calc(33.33% - 20px); /* Mostrar 3 productos por fila en pantallas más grandes */
        max-width: calc(33.33% - 20px);
    }
.producto p {
        font-size: 14px;
        margin-top: 10px; /* Cambio: Usar margin-top en lugar de margin top */
    }
    /* Estilo para el pie de página en pantallas pequeñas */
    footer {
        margin-top: 1em; /* Puedes ajustar el margen superior según lo necesites */
    }

    /* Estilo para los párrafos dentro del pie de página en pantallas pequeñas */
    footer p {
        margin: 5px 0; /* Ajustar los márgenes superior e inferior según lo necesites */
    }
}

/* Estilos para la sección de navegación */
.navegacion {
    text-align: center;
    margin-top: 1em;
}

.navegacion button {
    background-color: #000066;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 18px;
    cursor: pointer;
}

.navegacion button:hover {
    background-color: #333;
}


/* Estilo para el subheader en el footer */
.subheader {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1em 0;
}
/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 1em;
    background-color: #222; /* Color de fondo oscuro para el pie de página */
    margin-top: 2em; /* Agregar un margen superior para separar el footer del contenido */
    clear: both; /* Limpiar cualquier posible solapamiento de floats */
}

/* Estilo para los párrafos dentro del pie de página */
footer p {
    margin: 10px 0; /* Agregar margen superior e inferior para separar los párrafos */
}

/* Cambiar el color de los enlaces en el pie de página */
footer a {
    color: #66C2D3; /* Color azul claro para los enlaces en el pie de página */
}
